{% extends "./wrapper.html" %}

{% block css_additions %}
    {{ super }}
    {{ templateset.custom_fields.payments_css|safe }}
{% endblock %}

{% block script_additions %}
    {{ super }}
    {% include_tmpl templateset.custom_fields.payments_script %}
{% endblock %}

{% block content %}
<form id="act" name="act" class="ngpvan-payments" action="/admin/order/paypal_confirm/" method="POST" accept-charset="utf-8">
    <input type="hidden" name="action_id" value="{{ action.id }}">
    <input type="hidden" name="PayerID" value="{{ payer_id }}">

    <div id="payments-secured" class="ak-grid-row">
        <div class="ak-grid-col ak-grid-col-12-of-12">
            <div class="ak-secured-by">
                <img src="/media/lock.svg" height="12" width="10.5">
                <p>Secured by ActionKit</p>
            </div>
        </div>
    </div> 
    <div id="payments-content" class="ak-grid-row">
        <div class="ak-grid-col ak-grid-col-4-of-12">
            {% block page_title %}<h2>{% include_tmpl page.title escaped %}</h2>{% endblock page_title %}
            {% if page.custom_fields.featured_image %}
            <img class="ak-featured-img" src="{{page.custom_fields.featured_image}}">
            {% endif %}

            {% include_tmpl form.ask_text %}
        </div>

	    {% stripe_confirmation_element %}

    </div>

</form>

{% endblock %}
